src/seshat.egg-info/
*__pycache__*
dist/
build/
dump/
rpmbuild/BUILD/
rpmbuild/RPMS/
rpmbuild/SOURCES/
rpmbuild/SPECS/seshat.spec
rpmbuild/SRPMS/
autom4te.cache/
aclocal.m4
configure
configure~
config.log
config.status
Makefile
Makefile.in
pyproject.toml
missing
install-sh
.DS_Store
.idea/
seshat.spec
seshat.xml
doc/seshat.sty
doc/figures/*.svg
doc/fonts
pylint.log
*.bak
*.BAK
doc/seshat*.html
doc/seshat.4ct
doc/seshat.4tc
doc/seshat.aux
doc/seshat.bbl
doc/seshat.blg
doc/seshat.css
doc/seshat.dvi
doc/seshat.idv
doc/seshat.lg
doc/seshat.lof
doc/seshat.log
doc/seshat.out
doc/seshat.pdf
doc/seshat.tmp
doc/seshat.toc
doc/seshat.xref
doc/figures/*-.png
doc/index.html
seshat.code-workspace
install-sh~
query.sparqlbook
.vscode/launch.json