include configure.ac configure guix.scm.in pyproject.toml.in missing install-sh
include Makefile.am doc/Makefile.am src/Makefile.am Makefile.in doc/Makefile.in src/Makefile.in
include docker/Dockerfile docker/docker-compose.yaml
include etc/seshat.service
include etc/seshat/seshat-example-config.xml
include doc/*.typ doc/config.typ.in doc/references.bib doc/figures/*.svg doc/figures/favicon.png doc/seshat.pdf doc/index.html
include rpmbuild/SPECS/seshat.spec.in
include debian/changelog debian/control debian/copyright debian/rules debian/source/format debian/source/include-binaries
recursive-include src *.py
recursive-include tests *.py
recursive-include src/seshat/web/resources *.bib *.enw *.ris *.cff *.txt *.html *.xml *.css *.eot *.svg *.ttf *.woff *.woff2 *.js *.json *.sparql *.png *.ico